<div class="container">
  <h1>Welcome to the Stupid Coach!</h1>

  <form action="/answer" method="get">
    <label for="question">Ask something to your coach!</label>
    <input type="text" id="question" name="question" placeholder="your question here">
    <input type="submit" value="Here we go!">
  </form>
</div>
